@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary : #f84565;
  --color-primary-dull : #D63854;
  --screen-xs: 420px;
}

*{
  font-family: "Outfit", sans-serif;
}

body{
  color: white;
  background-color: black;
}

.no-scrollbar{
  scrollbar-width: none;
}


.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

